<app-view-layout>
  <p-card header="Raw data">
    <p-table [value]="metrics()"
             [rows]="10"
             [rowsPerPageOptions]="[10, 25, 50]"
             [paginator]="true"
             [loading]="loading()"
             sortField="changeCoupling"
             [sortOrder]="-1">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="sourcePackageName">
            Source Package
            <p-sortIcon field="sourcePackageName"></p-sortIcon>
          </th>
          <th pSortableColumn="sourceClassName">
            Source Class
            <p-sortIcon field="sourceClassName"></p-sortIcon>
          </th>
          <th pSortableColumn="targetPackageName">
            Target Package
            <p-sortIcon field="targetPackageName"></p-sortIcon>
          </th>
          <th pSortableColumn="targetClassName">
            Target Class
            <p-sortIcon field="targetClassName"></p-sortIcon>
          </th>
          <th pSortableColumn="changeCoupling">
            Change Coupling
            <p-sortIcon field="changeCoupling"></p-sortIcon>
          </th>
          <th pSortableColumn="numberOfSharedChanges">
            Number of Shared Changes
            <p-sortIcon field="numberOfSharedChanges"></p-sortIcon>
          </th>
          <th pSortableColumn="totalChanges">
            Total Changes
            <p-sortIcon field="totalChanges"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-metric>
        <tr>
          <td>
            {{ metric.sourcePackageName }}
          </td>
          <td>
            {{ metric.sourceClassName }}
          </td>
          <td>
            {{ metric.targetPackageName }}
          </td>
          <td>
            {{ metric.targetClassName }}
          </td>
          <td>{{ toPercentString(toPercent(metric.changeCoupling, 1)) }}</td>
          <td class="numeric">{{ metric.numberOfSharedChanges }}</td>
          <td class="numeric">{{ metric.totalChanges }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</app-view-layout>
