:root {
    --axis-color: currentColor;
}

.axis line {
    stroke: var(--axis-color);
}

.axis path {
    stroke: var(--axis-color);
}

.axis text {
    fill: var(--axis-color);
}

#green-components {
    color: var(--pico-color-green-450);
}

#yellow-components {
    color: var(--pico-color-yellow-450);
}

#red-components {
    color: var(--pico-color-red-450);
}