<app-view-layout>
  <p-card header="Raw data">
    <p-table [value]="metrics()"
             [rows]="10"
             [rowsPerPageOptions]="[10, 25, 50]"
             [paginator]="true"
             [loading]="loading()"
             sortField="numberOfChanges"
             [sortOrder]="-1">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="fileName">
            File
            <p-sortIcon field="fileName"></p-sortIcon>
          </th>
          <th pSortableColumn="numberOfChanges">
            Number of Changes
            <p-sortIcon field="numberOfChanges"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-metric>
        <tr>
          <td>{{ metric.fileName }}</td>
          <td class="numeric">{{ metric.numberOfChanges }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</app-view-layout>
