<app-view-layout>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs()"></app-breadcrumbs>

  <div
    style="display: flex; grid-gap: var(--mat-toolbar-title-text-line-height)">

    <app-package-size-distribution-card [metrics]="metrics()"/>
    <app-package-complexity-distribution-card [metrics]="metrics()"/>
  </div>

  <p-card header="Raw data">
    <p-table [value]="metrics()"
             [rows]="10"
             [rowsPerPageOptions]="[10, 25, 50]"
             [paginator]="true"
             [loading]="loading()"
             selectionMode="single"
             (onRowSelect)="viewPackageDetail($event)"
             sortField="complexityOrdinal"
             [sortOrder]="-1">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" pSortableColumn="packageName">
            package
            <p-sortIcon field="packageName"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="totalLinesOfCode">
            Size
            <p-sortIcon field="totalLinesOfCode"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="complexityOrdinal">
            Complexity Rating
            <p-sortIcon field="complexityOrdinal"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="numberOfTypes">
            Number of Types
            <p-sortIcon field="numberOfTypes"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="commentToCodeRatio">
            Comment to Code Ratio
            <p-sortIcon field="commentToCodeRatio"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="defectDensity">
            Defect Density
            <p-sortIcon field="defectDensity"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-metric>
        <tr [pSelectableRow]="metric">
          <td>{{ metric.packageName }}</td>
          <td>{{ metric.size | elementSize }} ({{ metric.totalLinesOfCode | number }})</td>
          <td>{{ metric.packageComplexity | packageComplexity }} ({{ metric.complexity | number }})</td>
          <td>{{ metric.numberOfTypes | number }}</td>
          <td>{{ metric.commentToCodeRatio | percent }}
          </td>
          <td>{{ metric.defectDensity | number: '1.0-0' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</app-view-layout>
