<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gavel - Cumulative Component Dependency Metrics</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"/>

    <script src="https://d3js.org/d3.v4.js"></script>

    <link rel="stylesheet" href="css/custom.css"/>

    <script src="js/table-helpers.js"></script>
    <script src="js/math-helpers.js"></script>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li>
                <strong>Gavel</strong>
            </li>
        </ul>
    </nav>

    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>Cumulative Component Dependency Metrics</li>
        </ul>
    </nav>

    <h1>Key Insights</h1>

    <div class="grid">
        <article id="green-components">
        </article>
        <article id="yellow-components">
        </article>
        <article id="red-components">
        </article>
    </div>

    <h1>Description</h1>

    <p>
    </p>

    <h1>Graph</h1>

    <article>
        <div id="cumulative-component-dependency-metrics-chart"></div>
    </article>

    <h1>Table</h1>

    <article>
        <table class="overflow-auto" id="cumulative-component-dependency-metrics-table">
            <thead>
            <tr>
                <th scope="col">package</th>
                <th scope="col">CCD</th>
                <th scope="col">ACD</th>
                <th scope="col">RACD</th>
                <th scope="col">NCCD</th>
            </tr>
            </thead>
        </table>
    </article>
</div>
<script>
    const chart = d3.select("#cumulative-component-dependency-metrics-chart");
    const table = document.getElementById("cumulative-component-dependency-metrics-table");

    d3.json("data/cumulative-component-dependencies.json", (dataSet) => {
        dataSet.forEach(data => table.appendChild(createRow([
            data.packageName,
            data.cumulative,
            data.average,
            data.relativeAverage,
            data.normalized
        ])));
    })
</script>
</body>
</html>