<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gavel - Dashboard</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"/>

    <link rel="stylesheet" href="css/custom.css"/>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li>
                <strong>Gavel</strong>
            </li>
        </ul>
    </nav>

    <nav aria-label="breadcrumb">
        <ul>
            <li>Home</li>
        </ul>
    </nav>

    <h1>Modularity</h1>

    <div class="grid">
        <a href="component-dependency-metrics.html">
            <article>
                Component Dependency Metrics
            </article>
        </a>
        <a href="relational-cohesion-metrics.html">
            <article>
                Relational Cohesion Metrics
            </article>
        </a>
        <a href="visibility-metrics.html">
            <article>
                Visibility Metrics
            </article>
        </a>
        <a href="cumulative-dependency-metrics.html">
            <article>
                Cumulative Component Dependency Metrics
            </article>
        </a>
    </div>
</div>
</body>
</html>