<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gavel - Relational Cohesion Metrics</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"/>

    <script src="https://d3js.org/d3.v4.js"></script>

    <link rel="stylesheet" href="css/custom.css"/>

    <script src="js/relational-cohesion.js"></script>
    <script src="js/table-helpers.js"></script>
    <script src="js/math-helpers.js"></script>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li>
                <strong>Gavel</strong>
            </li>
        </ul>
    </nav>

    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>Relational Cohesion Metrics</li>
        </ul>
    </nav>

    <h1>Key Insights</h1>

    <div class="grid">
        <article id="green-components">
        </article>
        <article id="yellow-components">
        </article>
        <article id="red-components">
        </article>
    </div>

    <h1>Description</h1>

    <p>
    </p>

    <h1>Graph</h1>

    <article>
        <div id="relational-cohesion-metrics-chart"></div>
    </article>

    <h1>Table</h1>

    <article>
        <table class="overflow-auto" id="relational-cohesion-metrics-table">
            <thead>
            <tr>
                <th scope="col">package</th>
                <th scope="col">Status</th>
                <th scope="col">Relational cohesion</th>
                <th scope="col">Number of types</th>
                <th scope="col">Number of internal relationships</th>
            </tr>
            </thead>
        </table>
    </article>
</div>
<script>
    const chart = d3.select("#relational-cohesion-metrics-chart");
    const table = document.getElementById("relational-cohesion-metrics-table");

    d3.json("data/relational-cohesion.json", (dataSet) => {
        const cumulatedMeasurements = {
            "Ok": 0,
            "Low Cohesion": 0,
            "High Cohesion": 0,
            "Total": 0
        }

        dataSet.forEach(data => {
            const status = determineStatus(data);

            cumulatedMeasurements[status] = cumulatedMeasurements[status] + 1;
            cumulatedMeasurements["Total"] = cumulatedMeasurements["Total"] + 1

            table.appendChild(createRow([
                data.packageName,
                status,
                data.relationalCohesion,
                data.numberOfTypes,
                data.numberOfInternalRelationships]))
        });

        const sum = cumulatedMeasurements["Total"];

        document.getElementById("green-components").innerText =
            toPercent(cumulatedMeasurements["Ok"], sum) + "% components with good cohesion";
        document.getElementById("yellow-components").innerText =
            toPercent(cumulatedMeasurements["Low Cohesion"], sum) + "% components with too low cohesion";
        document.getElementById("red-components").innerText =
            toPercent(cumulatedMeasurements["High Cohesion"], sum) + "% components with too high cohesion";
    })
</script>
</body>
</html>